// https://github.com/Semantic-Org/Semantic-UI/issues/1475
.ui.menu.inverted.teal .ui.dropdown .menu {
  border-color: #00b5ad !important;

  > .item {
    background-color: #00b5ad !important;
    color: rgba(255, 255, 255, .9) !important;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      pointer-events: none;
      background-color: transparent !important;
    }
    &:hover {
      color: #FFF;

      &::before {
        background-color: rgba(255, 255, 255, .08) !important;
      }
    }
  }
}

.ui.toggle.checkbox.teal {
  input:checked {
    ~ .box:before,
    ~ label:before {
      background-color: teal !important; // TODO: lighter teal
    }
    &:focus {
      ~ .box:before,
      ~ label:before {
        background-color: teal !important;
      }
    }
  }
  .box:before,
  label:before {
    background-color: grey;
  }
}
