html, body, #app {
  height: 100%;
}
html {
  font-size: 14px;
}
body {
  margin: 0;

  & ::-webkit-scrollbar,
  & ::-webkit-scrollbar-track {
    all: unset;
    width: 0;
    height: 0;
  }
}

// semantic ui fix //
.ui.menu.inverted.teal .ui.dropdown .menu {
  border-color: #00b5ad !important;

  > .item {
    background-color: #00b5ad !important;
    color: rgba(255, 255, 255, .9) !important;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      pointer-events: none;
      background-color: transparent !important;
    }
    &:hover {
      color: #FFF;

      &::before {
        background-color: rgba(255, 255, 255, .08) !important;
      }
    }
  }
}

// material ui hack //
.ui.secondary.pointing.rippling.menu .item {
  padding: 0;

  & > .mui-button-base {
    padding: .85714286em 1.14285714em;
    width: 100%;
    justify-content: left;
  }
}
.ui.icon.button, .ui.icon.buttons .button {
  & > .mui-button-base {
    padding: .78571429em .78571429em .78571429em;
  }
}

.ui.transparent.input.mui-light-input > input {
  padding: 0.333em 0 !important;
}

.mui-underline {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &::before {
    border-bottom: 1px solid #CCC;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  &::after {
    border-bottom: 2px solid #00b5ad; // TODO
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  }
}
:hover:not(:disabled) + .mui-underline {
  &::before {
    border-bottom-width: 2px;
    // Reset on touch devices, it doesn't add specificity
    @media (hover: none) {
      border-bottom-width: 1px;
    }
  }
}
:hover:not(:disabled):not(:focus):not(:invalid) + .mui-underline {
  &::before {
    border-bottom-color: rgba(0, 0, 0, .87); // TODO
    // Reset on touch devices, it doesn't add specificity
    @media (hover: none) {
      border-bottom-color: #CCC;
    }
  }
}
:invalid + .mui-underline {
  &::after {
    border-bottom-color: red;
    transform: scaleX(1);
  }
}
:focus + .mui-underline {
  &::after {
    transform: scaleX(1);
  }
}

